*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(34, 34, 34);
    padding: 8px;
    color: rgb(98, 98, 98);
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 550px;
}

.cartao{
    display: flex;
    flex-direction: column;
    padding: 24px 50px;
    margin-bottom: 50px;
    background-color: rgb(65, 233, 169);
    border-radius: 16px;
    box-shadow: 5px 5px 5px rgb(180, 100, 255);
}

h1, h2{
    text-align: center;
    margin-bottom: 28px;
    color: rgb(98, 98, 98);
    font-size: 32px;
}

fieldset{
    display: flex;
    border: none;
    margin: 8px 0;
}

label{
    width:170px;
    text-align: right;
    margin-right: 8px;
    padding: 5px 0;
    font-weight: bold;
    font-size: 18px;

}

input{
    width: 100%;
    text-align: right;
    height: 32px;
    border-radius: 4px;
    border: 1px solid rgb(139, 139, 139);
    padding: 0 5px;
    font-weight: bold;
}

input:placeholder-shown {
    font-style: italic;
 }

button{
    display: block;
    margin: 28px auto 0 auto;
    border: none;
    padding: 16px 48px;
    border-radius: 180px;
    background-color: rgb(116, 116, 116);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

button:hover{
    background-color: rgb(180, 100, 255);
}

button:active{
    outline: rgb(180, 100, 255) 1px solid;

}